@model solicitudescooitza.Models.TblSolicitudes

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TblSolicitudes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.razon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.razon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalQuetzales)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalQuetzales)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.totalDolares)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.totalDolares)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaAlta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaAlta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatProveedores.Descripcion_)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatProveedores.Descripcion_)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CatRubros.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CatRubros.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TblUsuarios.primerNombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TblUsuarios.primerNombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
